@{
    ViewData["Title"] = "Home Page";
}

<div class="h-100 text-center d-flex flex-column justify-content-center">
    <h3>URL Shortener</h3>
    <input id="input" type="text" name="url" value="" placeholder="Type/Paste URL Here" class="form-control d-block mx-auto mt-2 w-50" />
    <button id="submit" class="d-block mx-auto btn btn btn-primary mt-2" onclick="shorten()">Shorten</button>
    <a id="result" class="d-block mx-auto mt-2"></a>
</div>

@section Scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
}